.card > img {
  object-fit: contain;
  max-height: 35vh;
  z-index: 1;
}

.card {
  box-shadow: 0 0px 25px 1px rgba(240, 36, 247, 0.47);
  display: flex;
  border-radius: 8px;
  margin-left: 1.4em;
  margin-top: 3em;
  height: 30vh;
  width: 27vw;
  padding: 1.8rem;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 0;
  border: 7px double rgba(255, 255, 255, 0.19);
}
.card:last-child {
  margin-bottom: 3em;
}
.cardInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  margin-top: -7vh;
  margin-left: 0.8vw;
}
.statCard {
  color: rgb(68, 63, 73);
  font-weight: 700;
  font-size: larger;
  margin-top: -2.5vh;
  z-index: 1;
  text-shadow: 0px 0px 3px #fff3f3;
}
.cardInfo > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
  z-index: 0;
  text-decoration: none;
}
.typeSpan {
  border-radius: 3px;
  padding: 0.3vw;
  border: 1px solid #dfdfdf86;
  color: white;
  font-weight: 600;
  margin-bottom: 0.5vh;
  text-shadow: 0px 0px 3px #dfdfdf86;
  z-index: 2;
}
.noCardCard {
  display: flex;
  margin-left: 1.4em;
  margin-top: 3em;
  height: 62.3vh;
  width: 27vw;
  padding: 1.8rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-color: none;
  border: none;
  color: white;
}
.filterContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 130px;
  width: 96%;
  background-color: #9d75d1;
  border-radius: 0 8vw 0 8vw;
  border: 6px double rgb(134, 81, 184);
  color: white;
  font-weight: 600;
  text-shadow: -2px 0px 3px rgba(100, 231, 255, 0.88), 2px 0px 3px #ff0046;
}

.headerSelect {
  border-radius: 6px;
  color: black;
  font-size: large;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  font-weight: 900;
  font-family: "Power Green";
  height: 4.5vh;
  width: 6vw;
  text-decoration: none;
}
.create {
  border-radius: 8px;
  font-family: "Power Green";
  font-size: large;
  font-weight: 900;
  height: 4.5vh;
  width: 6vw;
  background-color: #d83d3d;
  display: block;
}
.searchInput {
  size: 4;
}
.searchButton {
  border-radius: 8px;
  font-family: "Power Green";
  font-size: large;
  color: aliceblue;
  font-weight: 900;
  height: 4vh;
  width: 5vw;
  background-color: #3d3fd8;
  display: block;
}
.pagesHolder {
  height: 7vh;
  display: flex;
  background: #afaab1;
  box-shadow: 0px 0px 2px 3px rgb(219, 219, 219);
  border-radius: 2vw 0 2vw 0;
  margin-top: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.page {
  display: flex;
  justify-content: space-evenly;
  background-color: #bdbdbd;
  box-shadow: 1px 1px 1px 2px rgba(126, 126, 126, 0.747);
  color: #f3f3f3;
  text-shadow: 0px 0px 1px #8d8d8d;
  font-size: medium;
  width: 5px;
  font-weight: 1000;
  margin-right: 5px;
  margin-left: 5px;
  padding: 2px 8px 2px 8px;
  border-radius: 2px 10px 5px 10px;
}
.page:hover {
  background-color: #535e32a6;
  color: #baceb7;
  cursor: pointer;
}
